main.change {
  background-image: linear-gradient(#ffffff, #F44336);
  min-height: 70vh;
}

main.change h1 {
  display: flex;
  justify-content: center;
}

.change-container {
  display: flex;
  max-width: 400px;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  /*backdrop-filter: blur(30px);*/
}

.change-form {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 10px;
}

.change-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
}

.boton {
  margin-left: 50px;
}

/**** Estilos general para Tablet ****/

@media screen and (min-width: 768px) {
  .change-container {
    max-width: 600px;
    padding: 30px;
  }

  .change-form {
    max-width: 500px;
  }

  .change-form input {
    padding: 15px;
    margin-bottom: 15px;
  }
}

/**** Estilos Orientación Horizontal en Tablet ****/

@media screen and (min-width: 768px) and (orientation: landscape) {
  .change-container {
    max-width: 800px;
    padding: 40px;
    margin-bottom: 50px;
  }

  .change-form {
    max-width: 700px;
  }

  .change-form input {
    padding: 20px;
    margin-bottom: 20px;
  }

  .boton {
    margin-left: 20px;
  }
}

/**************** VERSIÓN PREDETERMINADA: Escritorio ***************/

@media screen and (min-width: 1000px) {
  .change-container {
    max-width: 1000px;
    padding: 50px;
    margin-bottom: 50px;
  }

  .change-form {
    max-width: 900px;
  }

  .change-form input {
    padding: 20px;
    margin-bottom: 20px;
  }

  .boton {
    margin-left: 10px;
  }
}


/**** Estilos general para Tablet ****/

@media screen and (min-width: 768px) {

}

/**** Estilos Orientación Horizontal en Tablet ****/

@media screen and (min-width: 768px) and (orientation: landscape) {

}

/**************** VERSIÓN PREDETERMINADA: Escritorio ***************/

@media screen and (min-width: 1000px) {

}