main.recover {
  background-image: linear-gradient(#ffffff, var(--Turqoise));
  display: flex;
  justify-content: center;
  min-height: 90vh;
  background-size: cover; /* Ajusta el tamaño de la imagen para que cubra toda la pantalla */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

.password-reset-form-container {
  max-width: 400px;
  max-height: 250px;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  /*backdrop-filter: blur(30px);*/
}

.password-reset-form-container h2 {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
}

.resetbutton {
  display: flex;
  justify-content: center;
}

/**** Estilos general para Tablet ****/

@media screen and (min-width: 768px) {
  .password-reset-form-container {
    max-width: 600px;
    padding: 30px;
    max-height: none; /* Permite que la altura se ajuste automáticamente */
  }

  .form-group input {
    padding: 15px;
    font-size: 18px;
  }

  .resetbutton {
    justify-content: flex-end;
  }
}

/**** Estilos Orientación Horizontal en Tablet ****/

@media screen and (min-width: 768px) and (orientation: landscape) {
  .password-reset-form-container {
    max-width: 800px;
    padding: 40px;
  }

  .form-group input {
    padding: 20px;
    font-size: 20px;
  }

  .resetbutton {
    justify-content: flex-end;
  }
}

/**************** VERSIÓN PREDETERMINADA: Escritorio ***************/

@media screen and (min-width: 1000px) {
  .password-reset-form-container {
    max-width: 1000px;
    padding: 50px;
  }

  .form-group input {
    padding: 20px;
    font-size: 20px;
  }

  .resetbutton {
    justify-content: flex-end;
  }
}
