main.register {
  background-image: linear-gradient(#ffffff, var(--Blue));
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-size: cover; /* Ajusta el tamaño de la imagen para que cubra toda la pantalla */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

main.register h1 {
  display: flex;
  justify-content: center;
}

.signup-container {
  max-width: 400px;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  /*backdrop-filter: blur(30px);*/
}

.signup-form {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 10px;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.subtitulo {
  display: flex;
  justify-content: center;
}

.boton-register {
  margin-left: 110px;
}

/**** Estilos general para Tablet ****/

@media screen and (min-width: 768px) {
  .signup-container {
    max-width: 600px;
    padding: 30px;
  }

  .signup-form {
    max-width: 500px;
  }

  .signup-form input {
    padding: 15px;
    margin-bottom: 15px;
  }

  .boton-register {
    margin-left: 90px;
  }
}

/**** Estilos Orientación Horizontal en Tablet ****/

@media screen and (min-width: 768px) and (orientation: landscape) {
  .signup-container {
    max-width: 800px;
    padding: 40px;
    margin-bottom: 50px;
  }

  .signup-form {
    max-width: 700px;
  }

  .signup-form input {
    padding: 20px;
    margin-bottom: 20px;
  }

  .boton-register {
    margin-left: 70px;
  }
}

/**************** VERSIÓN PREDETERMINADA: Escritorio ***************/

@media screen and (min-width: 1000px) {
  .signup-container {
    max-width: 1000px;
    padding: 50px;
    margin-bottom: 50px;
  }

  .signup-form {
    max-width: 900px;
  }

  .signup-form input {
    padding: 20px;
    margin-bottom: 20px;
  }

  .boton-register {
    margin-left: 130px;
  }
}
